@import '~bulma/bulma.sass';

.flipped {
  transform: rotate(180deg);
}

body {
  height: 100%;
  background-color: black;
  color: #9986c9;
}


h3 {
  text-align: center;
}

h1 {
  position: relative;
  text-align: center;
  font-size: 40px;
  margin: 50px 0px 20px 0px;
  font-family: 'Kings', cursive;
}

h4 {
  font-size: 40px;
  margin: 0px 0px 40px 0px;
  font-family: 'Kings', cursive;
}

.image {
  max-width: 300px;
  max-height: 505px;
  border-radius: 10px;
  border: 5px solid white;
}

strong {
  color: #9986c9;
}

.title {
  color: #9986c9;
}

.navbar {
  background-color: #9986c9;
}

.navbar-item {
  color: black;
}

.hover-color {
  &:hover {
    background-color: #9986c9;
  }
}

.card-header, .card-header-title {
  text-align: center;
}


.card-read {
  background-color: black;
  color: #9986c9;
}

.card-footer {
  border: none;
  padding: 2rem 0.25rem;
}

.time {
  color: #feac00;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  font-family: 'Kings', cursive;
}

.card-header-title {
  color: #9986c9;
  text-align: center;
}

.card-header {
  justify-content: center;
  text-align: center;
  margin: 0rem 0rem 2rem 0rem;
}

select {
  background-color: black;
  color: #9986c9;
  border: 1px solid #9986c9;
  margin: 0rem 0rem 2rem 0rem;
  border-radius: 2px;
  padding: 5px 0px 5px 5px;
  font-size: 16px;
}

.card-image {
  align-items: center;
}


#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.centered {
  display: flex;
  justify-content: center;
}